body {
    margin: 0 auto;
    font-family: Arial;
    background-color: black;
}

.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 54px;
}

li:hover{
    background-color: #1B162C;
}

a {
    color: white;
    text-decoration: none;
}

tr {
    color: white;
}

label{
    font-size: 5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-circle.btn-xl {
  width: 220px;
  height: 220px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 100px;
  transition: width 1s;
  transition: height 1s;
}

.btn-circle.btn-circle.btn-xl:hover{
    width: 220px;
    height: 300px;
}


.upbutton{
    
    width: 200px;
    height: 132px;
}


/***********************************************************************
 *  Cover
 **********************************************************************/
.containe {
    /*show heigh: auto*/
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 7vh;
}



.cover {
    width: 77rem;
    
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.tablecenter{
    display:flex;
        
    justify-content: center;

    width: 100%;
  
    padding-bottom: 134px;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

.box > img {
    width: 100%;
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}


.box > img {
    width: 100%;
    height: auto;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
footer {
    text-align: center;
    background-color: #444;
}



/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.black{
    background-color: #080514;
}

.grey{
    background-color: #1B162C;
}



/****************************
Slider
*/

.slidecontainer {
  width: 100%;
  color: white;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



