body,
html {
  width: 100%;
  height: 100%;
}

body {
  	background-image: url(header.jpg);
	background-size: cover;
  	font-family: 'Montserrat', sans-serif
  	height: 100%;
  	background-position: center;  	
}

h4{
	color: rgba(255, 255, 255, 0.8); 
	text-align: center;
}

.Aligner{
	
	height:700px;
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.btn:hover{
	background-color: #ee4b08;
  	border-color: #ee4b08;
  	border-width: 5px;
  	cursor: pointer;
}

.btn{
	font-weight: 700;
  	text-transform: uppercase;
  	border-radius: 250px;
  	font-family: 'Montserrat', sans-serif;
}